.khan__buy-link{
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color: #2f80ed;
  margin-left: 48px;
  text-decoration: none;
}

.khan__buy-link:hover{
  transition: 2s;
  opacity: 0.5;
}